.image-page{
  width: 100%;
  cursor: pointer;
}

.modale-image{

  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top:0;
  left: 0;
  cursor: pointer;
}

.modale-image img{
  height: 90%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
